.span-2 &nbsp;
.span-20
  %h1 Editing designer

  = render 'form'

  = link_to "Add work", :controller => :works, :action => :new, :designer_id => @designer.id
  %br
  = link_to 'Show', @designer
  \|
  = link_to 'Back', designers_path

.span-2.last &nbsp;