.span-2 &nbsp;
.span-20
  .stylize.black
    Our Designers:
    &nbsp;&nbsp;&nbsp;
  - for designer in @designers
    .stylize
      = designer.first_name + " " + designer.last_name
      &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
  %br
  %br
  %hr      

  - for designer in @designers
    %h1= designer.first_name + " " + designer.last_name
    %hr
    
.span-2.last &nbsp;